<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubSleuth - TxFlow</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body data-theme="polkadot">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="main-content">
        <div class="form-container">
            <pre>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡠⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡴⠟⠃⠀⠀⠙⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠋⠀⠀⠀⠀⠀⠀⠘⣆⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠾⢛⠒⠀⠀⠀⠀⠀⠀⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣶⣄⡈⠓⢄⠠⡀⠀⠀⠀⣄⣷⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣷⠀⠈⠱⡄⠑⣌⠆⠀⠀⡜⢻⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡿⠳⡆⠐⢿⣆⠈⢿⠀⠀⡇⠘⡆⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⣷⡇⠀⠀⠈⢆⠈⠆⢸⠀⠀⢣⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣧⠀⠀⠈⢂⠀⡇⠀⠀⢨⠓⣄⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣦⣤⠖⡏⡸⠀⣀⡴⠋⠀⠈⠢⡀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⠁⣹⣿⣿⣿⣷⣾⠽⠖⠊⢹⣀⠄⠀⠀⠀⠈⢣⡀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡟⣇⣰⢫⢻⢉⠉⠀⣿⡆⠀⠀⡸⡏⠀⠀⠀⠀⠀⠀⢇
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢨⡇⡇⠈⢸⢸⢸⠀⠀⡇⡇⠀⠀⠁⠻⡄⡠⠂⠀⠀⠀⠘
    ⢤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠛⠓⡇⠀⠸⡆⢸⠀⢠⣿⠀⠀⠀⠀⣰⣿⣵⡆⠀⠀⠀⠀
    ⠈⢻⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡿⣦⣀⡇⠀⢧⡇⠀⠀⢺⡟⠀⠀⠀⢰⠉⣰⠟⠊⣠⠂⠀⡸
    ⠀⠀⢻⣿⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⢧⡙⠺⠿⡇⠀⠘⠇⠀⠀⢸⣧⠀⠀⢠⠃⣾⣌⠉⠩⠭⠍⣉⡇
    ⠀⠀⠀⠻⣿⣿⣿⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣞⣋⠀⠈⠀⡳⣧⠀⠀⠀⠀⠀⢸⡏⠀⠀⡞⢰⠉⠉⠉⠉⠉⠓⢻⠃
    ⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣷⡄⠀⠀⢀⣀⠠⠤⣤⣤⠤⠞⠓⢠⠈⡆⠀⢣⣸⣾⠆⠀⠀⠀⠀⠀⢀⣀⡼⠁⡿⠈⣉⣉⣒⡒⠢⡼⠀
    ⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⣿⣎⣽⣶⣤⡶⢋⣤⠃⣠⡦⢀⡼⢦⣾⡤⠚⣟⣁⣀⣀⣀⣀⠀⣀⣈⣀⣠⣾⣅⠀⠑⠂⠤⠌⣩⡇⠀
    ⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡁⣺⢁⣞⣉⡴⠟⡀⠀⠀⠀⠁⠸⡅⠀⠈⢷⠈⠏⠙⠀⢹⡛⠀⢉⠀⠀⠀⣀⣀⣼⡇⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⡟⢡⠖⣡⡴⠂⣀⣀⣀⣰⣁⣀⣀⣸⠀⠀⠀⠀⠈⠁⠀⠀⠈⠀⣠⠜⠋⣠⠁⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⡟⢿⣿⣿⣷⡟⢋⣥⣖⣉⠀⠈⢁⡀⠤⠚⠿⣷⡦⢀⣠⣀⠢⣄⣀⡠⠔⠋⠁⠀⣼⠃⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⡄⠈⠻⣿⣿⢿⣛⣩⠤⠒⠉⠁⠀⠀⠀⠀⠀⠉⠒⢤⡀⠉⠁⠀⠀⠀⠀⠀⢀⡿⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣤⣤⠴⠟⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠤⠀⠀⠀⠀⠀⢩⠇⠀⠀⠀
                               SubSleuth PoC - v0.0.1
            </pre>
            <form id="address-form" class="form-inline" action="/handle_dropdown" method="post">

                <div id="spinner" style="display: none;">
                    <div class="loader"></div>
                </div>

                <select name="network">
                    <option value="polkadot" {% if selected_network == 'polkadot' %}selected{% endif %}>Polkadot</option>
                    <option value="kusama" {% if selected_network == 'kusama' %}selected{% endif %}>Kusama</option>
                </select>

                <div class="form-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <button id="download-csv" type="button" class="btn btn-secondary mt-3">
                Download JSON
            </button>
        </div>

        <div id="sankey-plot"></div>
    </div>

    <script>
        document.getElementById('download-csv').addEventListener('click', function(event) {
            window.location.href = '/download-json';
        });

        document.querySelector("select[name='network']").addEventListener("change", function() {
            document.getElementById("address-form").submit();
        });

        // This function sets the theme based on the dropdown's value
        function setThemeBasedOnDropdown() {
            const theme = document.querySelector('#address-form select').value;
            document.body.setAttribute('data-theme', theme);
        }

        // Set theme on page load
        setThemeBasedOnDropdown();
        const plotElement = document.getElementById('sankey-plot');

        // Listen for changes in the dropdown to update the theme
        document.querySelector('#address-form select').addEventListener('change', setThemeBasedOnDropdown);

        document.getElementById('address-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const addressInput = document.getElementById('address');
            const address = addressInput.value.trim();

            // Show spinner
            document.getElementById('spinner').style.display = 'block';

            if (address) {
                fetch('/address', {
                    method: 'POST',
                    body: new FormData(event.target),
                    headers: {
                        'Accept': 'application/json'
                    }
                })
                    .then(response => {
                        // Check if the response is successful
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }

                        return response.json();

                    })
                    .then(data => {

                        // Hide spinner
                        document.getElementById('spinner').style.display = 'none';

                        // Modify layout to make the plot responsive
                        const nodeCount = data.data[0].node.label.length;
                        const heightPerNode = 30;                           // adjust this value based on your needs
                        const baseHeight = 500;                             // minimum height for the plot

                        data.layout = {
                            autosize: true,
                            height: Math.max(baseHeight * 0.75, nodeCount * heightPerNode)
                        };

                        // Check if nodeCount is greater than 50 and adjust width accordingly
                        console.log(nodeCount)
                        if (nodeCount > 250) {
                            data.layout.width = window.innerWidth * 0.60;
                        }

                        const config = {
                            staticPlot: false
                        };

                        Plotly.react(plotElement, data, config);

                        // Add a click event listener to the Plotly plot
                        plotElement.on('plotly_click', function (data) {
                            console.log("plotly_click event triggered");
                            console.log("Received event data:", data);

                            if (data.points.length > 0) {
                                var clickedData = data.points[0];
                                console.log("Clicked data:", clickedData);

                                if (clickedData.customdata && clickedData.customdata.address) {
                                    var clickedNodeId = clickedData.customdata.address;
                                    console.log("Selecting " + clickedNodeId);
                                    document.getElementById('address').value = clickedNodeId;
                                } else {
                                    console.warn("Expected customdata structure not found in clicked data.");
                                }
                            } else {
                                console.log("No data points found in the click event");
                            }
                        });
                    })
                    .catch(error => {
    // Hide spinner
    document.getElementById('spinner').style.display = 'none';

    // Handle different error scenarios
    if (error.message.includes('Unexpected content type')) {
        alert('Unexpected server response. Please try again later.');
    } else if (error.message.includes('Network response was not ok')) {
        alert('No data returned\nPlease check the address entered is from the selected network.');
    } else {
        alert('An error occurred: ' + error.message);
    }
});
            } else {
                document.getElementById('spinner').style.display = 'none';
                alert('Please enter a valid address');
            }
        });
    </script>
</body>
<footer class="bg-dark text-white mt-5">
    <div class="container py-3">
        <p class="text-center mb-0">☯ ChaosDAO | Inspired by ZachXBT, Powered by SubSquid.</p>
    </div>
</footer>
</html>
